.content-details {
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #B4B3B3;
  font-family: Arial, serif;
  border-radius: 8px;
}

.shipInfo {
  width: 40%;
}

.shipParameterInfo {
  display: flex;
  justify-content: space-between;
}

.infoSection{
  width: 30%
}

.info {
  display: flex;
  justify-content: space-between;
}

.infoValue {
  color: blue;
}

.mission {
  margin-top: 30px;
}
