.box {
  /*border: 1px solid red;*/
  width:90%;
  display:flex;
  margin:auto;
  justify-content: space-between;
}
.right{
  width: 20%;
  min-width: 270px;
  margin-right: 20px;
}
.left{
  width: 75%;
  height: 100%;
}

